In [1]:
import csv

import numpy as np

In [3]:
filepath_pose1  = ["pose1_1.csv","pose1_2.csv", "pose1_3.csv", "pose1_4.csv", "pose1_5.csv", "pose1_6.csv"]
filepath_pose2  = ["pose2_1.csv","pose2_2.csv", "pose2_3.csv", "pose2_4.csv", "pose2_5.csv", "pose2_6.csv"]
filepath_pose3  = ["pose3_1.csv","pose3_2.csv", "pose3_3.csv", "pose3_4.csv", "pose3_5.csv", "pose3_6.csv"]
filepath_pose4  = ["pose4_1.csv","pose4_2.csv", "pose4_3.csv", "pose4_4.csv", "pose4_5.csv", "pose4_6.csv"]
filepath_pose5  = ["pose5_1.csv","pose5_2.csv", "pose5_3.csv", "pose5_4.csv", "pose5_5.csv", "pose5_6.csv"]
filepath_pose6  = ["pose6_1.csv","pose6_2.csv", "pose6_3.csv", "pose6_4.csv", "pose6_5.csv", "pose6_6.csv"]
filepath_pose7  = ["pose7_1.csv","pose7_2.csv", "pose7_3.csv", "pose7_4.csv", "pose7_5.csv", "pose7_6.csv"]
filepath_pose8  = ["pose8_1.csv","pose8_2.csv", "pose8_3.csv", "pose8_4.csv", "pose8_5.csv", "pose8_6.csv"]
filepath_pose9  = ["pose9_6.csv"]
filepath_pose10 = ["pose10_6.csv"]
                  
filespath = []

filespath.append(filepath_pose1)
filespath.append(filepath_pose2)
filespath.append(filepath_pose3)
filespath.append(filepath_pose4)
filespath.append(filepath_pose5)
filespath.append(filepath_pose6)
filespath.append(filepath_pose7)
filespath.append(filepath_pose8)
filespath.append(filepath_pose9)
filespath.append(filepath_pose10)

In [4]:
pose1  = []
pose2  = []
pose3  = []
pose4  = []
pose5  = []
pose6  = []
pose7  = []
pose8  = []
pose9  = []
pose10 = []

classes = []

classes.append(pose1)
classes.append(pose2)
classes.append(pose3)
classes.append(pose4)
classes.append(pose5)
classes.append(pose6)
classes.append(pose7)
classes.append(pose8)
classes.append(pose9)
classes.append(pose10)

cnt = 0
for pose in range (len(filespath)):
    for file in filespath[pose] :
        with open(file) as fp:
            line = fp.readline()
            while line:
                classes[cnt].append(line)
                #print("Line {}: {}".format(cnt, line.strip()))
                line = fp.readline()
    print (len(classes[cnt]), cnt)
    cnt += 1

48981 0
50894 1
50819 2
50502 3
50172 4
47759 5
50383 6
49644 7
18394 8
18649 9

In [5]:
print (classes[0][1])

70,251,177,208,158,48,25,25

In [6]:
#Remove \n 

for i in range (len(classes)):
    for j in range (0,len(classes[i])):
        classes[i][j] = classes[i][j][:-1]
    print (len(classes[i]), i)

48981 0
50894 1
50819 2
50502 3
50172 4
47759 5
50383 6
49644 7
18394 8
18649 9

In [7]:
# The \n Removed
print (classes[0][1])

70,251,177,208,158,48,25,25

In [8]:
classes_2D = []

for i in range (len(classes)):
    TD = []
    for j in range (0, len(classes[i])):
        TD.append(classes[i][j].split(","))
    classes_2D.append(TD)
print (len(classes_2D))

10

In [9]:
print (classes_2D[0][1])

['70', '251', '177', '208', '158', '48', '25', '25']

In [10]:
classes_3D = []

for i in range (len(classes_2D)):
    TD = []
    
    for j in range (0,len(classes_2D[i]),64):
        #if (classes[i][j] == "CUT HERE,CUT HERE,CUT HERE"):
        if (j + 65) > (len(classes_2D[i])):
            break
        
        col = []
        for k in range ( (j), (j+64)):
            col.append(classes_2D[i][k])
        
        TD.append (col)

    classes_3D.append(TD)

In [11]:
print (classes_3D[0][483][0])

['52', '706', '67', '43', '123', '35', '19', '19']

In [12]:
for i in range (len(classes_3D)):
    print (len(classes_3D[i]))

765
795
794
789
783
746
787
775
287
291

In [14]:
DATA_AS_Images = []
for i in range (len(classes_3D)):
    pose_as_images = []
    for j in range (len(classes_3D[i])):
        frame_as_image = []
        Channel_1 = []
        Channel_2 = []
        Channel_3 = []
        Channel_4 = []
        Channel_5 = []
        Channel_6 = []
        Channel_7 = []
        Channel_8 = []

        for k in range (len(classes_3D[i][j])):
            Channel_1.append(classes_3D[i][j][k][0])
            Channel_2.append(classes_3D[i][j][k][1])
            Channel_3.append(classes_3D[i][j][k][2])
            Channel_4.append(classes_3D[i][j][k][3])
            Channel_5.append(classes_3D[i][j][k][4])
            Channel_6.append(classes_3D[i][j][k][5])
            Channel_7.append(classes_3D[i][j][k][6])
            Channel_8.append(classes_3D[i][j][k][7])
        frame_as_image.append(Channel_1)
        frame_as_image.append(Channel_2)
        frame_as_image.append(Channel_3)
        frame_as_image.append(Channel_4)
        frame_as_image.append(Channel_5)
        frame_as_image.append(Channel_6)
        frame_as_image.append(Channel_7)
        frame_as_image.append(Channel_8)
    
        pose_as_images.append(frame_as_image)
    DATA_AS_Images.append(pose_as_images)

In [17]:
print (len(DATA_AS_Images[0][0][0]))

64

In [18]:
DATA = []
for i in range (len(DATA_AS_Images)):
    data = np.array(DATA_AS_Images[i])
    data = data.reshape(len(DATA_AS_Images[i]), 512)
    DATA.append(data.tolist())

In [19]:
print(len(DATA[0][1]))

512

In [20]:
for i in range (len(DATA)):
    for j in range (0, len(DATA[i])):
        DATA[i][j].append(i)

In [21]:
print (DATA[0][1])

['65', '55', '55', '62', '65', '65', '64', '74', '61', '61', '64', '67', '56', '66', '63', '62', '59', '61', '49', '54', '49', '55', '57', '59', '60', '67', '64', '59', '60', '60', '59', '55', '76', '75', '75', '75', '79', '62', '61', '56', '50', '55', '54', '51', '59', '59', '55', '54', '55', '45', '46', '47', '54', '70', '81', '88', '86', '94', '99', '93', '86', '87', '80', '71', '219', '212', '203', '200', '177', '150', '144', '151', '149', '148', '154', '165', '176', '151', '172', '198', '203', '195', '199', '202', '173', '173', '191', '199', '182', '184', '181', '152', '137', '213', '232', '227', '256', '264', '218', '204', '223', '199', '196', '205', '198', '187', '184', '175', '177', '188', '184', '191', '203', '178', '180', '178', '176', '167', '185', '200', '217', '258', '260', '251', '245', '230', '193', '190', '199', '204', '213', '258', '248', '204', '208', '208', '177', '180', '185', '192', '201', '199', '273', '308', '307', '311', '314', '267', '235', '241', '236', '229', '232', '241', '234', '220', '212', '218', '199', '188', '219', '216', '192', '183', '183', '196', '209', '232', '266', '273', '248', '301', '275', '253', '270', '264', '198', '208', '217', '226', '240', '238', '239', '237', '212', '232', '243', '234', '222', '256', '252', '266', '189', '197', '216', '218', '209', '206', '187', '164', '164', '169', '176', '210', '208', '215', '245', '231', '201', '209', '223', '206', '205', '191', '196', '174', '134', '134', '149', '155', '170', '192', '213', '205', '197', '190', '167', '148', '153', '152', '171', '167', '168', '166', '159', '149', '194', '186', '187', '192', '181', '170', '168', '170', '174', '177', '149', '175', '184', '171', '157', '155', '166', '161', '163', '193', '147', '164', '184', '184', '171', '170', '146', '111', '107', '124', '108', '152', '159', '166', '178', '183', '148', '144', '165', '151', '145', '143', '142', '114', '109', '136', '137', '151', '158', '153', '141', '143', '140', '130', '131', '119', '129', '124', '124', '126', '141', '137', '134', '163', '178', '170', '177', '174', '145', '134', '136', '115', '117', '123', '111', '114', '110', '115', '116', '120', '145', '148', '140', '148', '39', '46', '49', '49', '53', '60', '57', '53', '52', '48', '44', '43', '41', '42', '46', '47', '46', '46', '47', '52', '48', '51', '53', '55', '51', '56', '51', '54', '54', '59', '58', '60', '61', '64', '57', '54', '53', '67', '65', '66', '68', '79', '65', '63', '64', '65', '47', '47', '50', '46', '51', '54', '51', '50', '52', '48', '51', '55', '55', '54', '55', '51', '48', '45', '22', '23', '25', '25', '26', '26', '25', '23', '22', '19', '19', '18', '20', '19', '22', '26', '27', '28', '29', '28', '26', '26', '23', '24', '24', '26', '24', '27', '27', '27', '25', '26', '27', '26', '24', '25', '26', '26', '25', '28', '28', '27', '26', '28', '27', '26', '25', '25', '25', '26', '26', '26', '25', '23', '21', '19', '22', '23', '24', '26', '26', '24', '26', '25', '22', '23', '25', '23', '23', '24', '23', '24', '22', '25', '23', '24', '22', '23', '22', '24', '23', '23', '25', '24', '23', '26', '26', '24', '24', '24', '23', '23', '24', '27', '27', '26', '28', '28', '26', '26', '31', '29', '29', '30', '31', '27', '26', '25', '26', '26', '26', '28', '29', '27', '25', '23', '20', '22', '23', '22', '28', '30', '27', '27', '27', '25', '25', '26', 0]

In [22]:
All_classes_2D = []
for i in range(len(DATA)):
    for j in range (0, len(DATA[i])):
        All_classes_2D.append(DATA[i][j])

In [23]:
print (len(All_classes_2D))

6812

In [25]:
header = []
for i in range (8):
    for j in range (64):
        header.append("Channel_{}".format(i))

In [26]:
header.append("Class")

In [27]:
print (len(header))

513

In [28]:
All_classes_2D.insert(0,header)

In [29]:
print (len(All_classes_2D))

6813

In [30]:
np.savetxt("8_Channels_MyoArmband_DATA_AS_Images_10poses.csv", 
           All_classes_2D,
           delimiter =",", 
           fmt ='% s')

In [31]:
import tensorflow as tf
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [32]:
df = pd.read_csv('8_Channels_MyoArmband_DATA_AS_Images_10poses.csv')

In [33]:
print(df.shape)

(6812, 513)

In [34]:
df.head()

,Channel_0,Channel_0.1,Channel_0.2,Channel_0.3,Channel_0.4,Channel_0.5,Channel_0.6,Channel_0.7,Channel_0.8,Channel_0.9,...,Channel_7.55,Channel_7.56,Channel_7.57,Channel_7.58,Channel_7.59,Channel_7.60,Channel_7.61,Channel_7.62,Channel_7.63,Class
0,62,70,66,75,70,70,62,64,60,63,...,26,24,24,28,27,26,24,27,22,0
1,65,55,55,62,65,65,64,74,61,61,...,22,28,30,27,27,27,25,25,26,0
2,75,74,82,105,107,106,106,101,73,63,...,24,25,25,26,26,27,28,27,26,0
3,72,72,75,63,73,67,71,69,72,63,...,29,29,28,29,27,29,28,30,28,0
4,79,105,106,95,92,91,69,60,58,62,...,23,23,23,22,22,23,21,23,23,0